@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.category-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
}

.icon {
    transition: text-shadow 0.3s ease, color 0.3s ease;
}

.icon:hover {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}
html {
    scroll-behavior: smooth;
}